PORT=8080
TZ=America/Mexico_City

# Default RTMP URL (si no lo pegas en la UI)
RTMP_URL=rtmps://live-api-s.facebook.com:443/rtmp/TU_STREAM_KEY

# Pushover
PUSHOVER_USER=TU_USER_KEY
PUSHOVER_TOKEN=TU_APP_TOKEN

# Paths
CORTINILLAS_DIR=./cortinillas
VIDEOS_DIR=./videos
LOG_DIR=./logs

# Transcoding profile (a prueba de todo)
OUT_WIDTH=1920
OUT_HEIGHT=1080
OUT_FPS=30
VIDEO_BITRATE=6000k
AUDIO_BITRATE=128k
AUDIO_RATE=48000
GOP=60
PRESET=veryfast
